  <form id="post_entry" action="/posts" method="post">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <label for="post_entry">Blog Post Title:</label>
      <input type="text" name="title">
      <label for="post_entry">Content:</label>
      <input type="text" name="body">
      <input type="submit" value="Submit">
  </form>
